@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;800&display=swap');

body{ 
    font-family: 'Outfit', sans-serif;
    margin: 0;    
    background-image: linear-gradient(130deg, #6F88C8d0, #4A407Cd0 );
    overflow: hidden;
    height: 100vh;
}

body *{
    box-sizing: border-box;
}

html{
    background-image: url(textura.jpg);
    overflow-x: hidden;
    
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7%;
    margin: auto;
}

.texture{
    width: 60vw;
}

.main .texture .img{
    position: absolute;
    width: 600px;
}

.left_login{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer {
    height: 50px;    
    background-color: #2e2e2e;
    color: white;
    margin: auto;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom:0;
}

.footer a{
    color:#F2BC79;
    text-decoration: none;
}

.footer img{
    width: 13px;
    margin-left: 3px;
    margin-bottom: -2px;
}

body h1{
    width: 100%;
    margin:0;
    color: #4A407C;
    background-color: #F2BC79;
    font-size: 4rem;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    box-shadow: 0px 0px 50px 8px #00000075;
    letter-spacing: 5px;
    -webkit-text-stroke-width: 2px;
}

.left_login img{
    width: 100%;
    max-width: 700px;
}

.right_login{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    height: 60vh;
    max-height: 500px;
    
}

.card_login{
    width: 90%;
    max-width: 400px;
    height: 50vh;
    max-height: 450px;
    min-height: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2d2d2d;
    border-radius: 30px;
    border-top-right-radius: 3px;
    box-shadow: 0px 10px 40px #00000048;
}



.card_login h2{
    color: #F2BC79;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.textfield  input{    
    width: 100%;
    border: 1px double #4A407C50;
    border-radius: 10px;
    padding: 15px;
    background: #ffffff10;
    outline: none;
    box-sizing: border-box;
    color: #fff;
    margin: 20px auto;
    
    
}

.textfield  label{   
    font-size: 12pt;    
}


.lbl, .lbl2{    
    position: absolute;
    color: #ffffff88;    
    margin-left: 1rem;
}

.lblon{
    margin-bottom: 80px;
    margin-left: 0rem;
    color: #ffffff;
}

.btn-login{
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 800;
    cursor: pointer;
    color: #fff;
    background: #F2856D;
    letter-spacing: 3px;
}
.btn-login:hover{
    color: #555;
    background-color: #F2EC9B;
    animation: piska 1.5s infinite;
}

.valido{
    display: none;
}

@keyframes lines {
        100% {
            background-position: 250% 0px;
        }
  }

.line-dec-v{
    height: 5px;
    width: 100%;
    bottom: 50px;
    position: fixed;
    background-image: linear-gradient(90deg, #F2EC9B,#F2BC79,#F2856D,#F2EC9B,#F2BC79,#F2856D,#F2BC79,#F2EC9B);
    background-size:250% 100%;
    background-position: 0px 0px;
    animation: lines 4s linear infinite;

}

@media (max-width: 992px){
    html{
        background-image: 90deg;
    }
    .main{
    }
    .right_login{
        width: 100%;
    }
    .left_login{
        width: 100%;
        max-height: 400px;
    }
    .left_login img{
        max-width: 450px;
        margin-top: 4%;
    }

    .card_login{
        width: 92%; 
    }
    body h1{
        font-size: 2.2rem;
    }
    .main{
        padding: 0;
    }
    
}

@media  (max-width: 768px){
    .main{
        flex-direction: column;
        display: block;
        margin-top: 17vh;
    }
    body h1{
        font-size: 1.7rem;
    }
    .right_login{
        width: 100%;
    }
    
    .left_login{
        width: 100%;
    }
    .left_login img{
        display: none;
    }
    .card_login{
        padding: 18px;
    }
}

@media  (max-width: 399px){
    body h1{
        font-size: 1.3rem;
        letter-spacing: 4px;
    }
}

.erro{
    background-color: #fff;
}

.mensagem{
    width: 100%;
    height: 8px;
    margin: 10px;
    box-sizing: border-box;
    font-weight: 800;
    color: #F2856D;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 30px;
}

.mensagem2 {
    width: 100%;
    height: 8px;
    margin: 10px;
    box-sizing: border-box;
    font-weight: 800;
    color: #b2fc3c;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 30px;
}
