html * {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-size: 98%;
}

body{
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2d;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main{
  width: 80%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.metods{
  background-color: #3a3a3a;
  padding: 15px;

}
.resultForeach, .resultFilter{
  border-top: 2px solid #d2d2d2;
  margin: 15px 0;
  text-align: left;
  color: #f2f2f2;
  width: 100%;
  height: 120px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.result{
  width: auto;
  margin: 10px;
  border-radius: 4px;
  background-color: #333232;
  padding: 10px;
  height: 110px;
}
h3{
  margin: 15px 0;
}
button{
  font-size: 1.2rem;
  width: 100%;
  color: #2d2d2d;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #98daD9;
  margin:12px 0;
  padding: 8px 16px;
}

button:hover{
  background-color: #5b8291;    
  color: #f2f2f2;
}
label{
  position: absolute;
}
input{
  margin: 8px 0;
  font-size: 1.3rem;
  padding: 8px;
  border-radius: 10px;
  width: 100%;
  color: #2d2d2d;
}
